body {
    background-color: rgb(49, 50, 104);
}

.chessboard-container {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 90vmin;
    height: 90vmin;
    outline: auto;
}

.chessboard-square {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    aspect-ratio: 1;
    padding: 0px 0px 0px 0px;
}

.chessboard-square:hover, .dragover-square {
    box-shadow: inset 2px 2px 5px rgb(29, 28, 75);
}

.light-square {
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
}

.dark-square {
    background-image: linear-gradient(to bottom right, #6538d7, #4a6991, #8f4242);
}

.chess-piece-image {
    width: 95%;
    cursor: pointer;
}