html, body {
    background-image: linear-gradient(to bottom right, #3887d7, #4a6991, #8f4242);
    margin: 0;
    height: 100%;
    padding: 7px 10px 10px 7px;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 90vmin;
    width: 295px;
    outline-style: solid;
    outline-color: #fbefe1;
    outline-width: 2px;
    padding: 12px 12px 12px 12px;
    margin: 10px 0px 10px 0px;
    background-image: linear-gradient(to bottom right, #494949, #262626, #1c1c1c);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-color: #000000 #272727;
    scrollbar-width:thin;
}

.name-input, .play-online-button, .icon-button, .game-button{
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fbefe1;
    font-size: 25px;
    font-weight: 550;
    border-style: solid;
    border-color: #fbefe1;
    margin: 7px 7px 7px 7px;
    background-image: linear-gradient(to bottom right, #3d81d8, #2861ad, #0d4277);
    border-radius: 10px;
}

.name-input::placeholder {
    color: #b8b8b8;
}

.play-online-button {
    
    width: 213px;
}

.icon-button, .game-button {
    width: 53px;
    height: 53px;
    padding: 0px 0px 0px 0px;
    margin: 7px 0px 7px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-button {
    width: 60px;
    height: 60px;
}

.game-buttons-container {
    gap: 6.4px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.play-online-with-settings-container {
    width: 287px;
    display: flex;
}

.name-input {
    width: 256px;
}

.welcome-message {
    color: #fbefe1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 7px 7px 7px 7px;
    padding-left: 25px;
    padding-top: 10px;
}

ul.welcome-message li {
    margin-bottom: 10px;
}

ul.welcome-message li::marker {
    color: #3d81d8;
}

.online-panel {
    width: 276px;
    min-height: 220px;
    height: 220px;
    padding: 0px 0px 0px 0px;
    background-image: linear-gradient(to bottom right, #2c2c2c, #3e3e3e, #181818);
    border: #fbefe1;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 7px 7px 7px 7px;
    overflow: hidden;
}

.online-opponents-container, .game-log {
    width: 276px;
    min-height: 220px;
    height: 220px;
    padding: 0px 0px 0px 0px;
    background-image: linear-gradient(to bottom right, #212121, #3e3e3e, #181818);
    color: #fbefe1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.online-opponents-container {
    overflow-y: auto;
    scrollbar-color: #000000 #272727;
    scrollbar-width: thin;
}

.opponent-to-join {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 115px 45px 50px 40px;
    border-bottom: 1px solid #fbefe1;
    background-image: linear-gradient(to bottom right, #212121, #3e3e3e, #181818);
}

.opponents-header, .game-log-header {
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
    color: rgb(44, 44, 44);
}

.opponent-to-join span {
    padding-top: 3px;
}

.opponents-list-color-field, .opponents-list-time-field {
    justify-self: center;
}

.opponents-list-name-field {
    overflow: hidden;
}

.color-type-icon {
    width: 18px;
}

.join-button {
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
    color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.join-button:hover, .accept-draw-button:hover, .decline-draw-button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.join-button:active, .accept-draw-button:active, .decline-draw-button:active {
    filter: brightness(1.2);
}

.online-match-container {
    width: 276px;
    min-height: 220px;
    height: 220px;
    padding: 0px 0px 0px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.no-opponents-online {
    margin-top: 90px;
    margin-left: 24px;
}

.online-match-container p {
    margin: 0px 0px 0px 0px;
}

.online-opponent, .online-player {
    display: grid;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 2px;
}

.online-black {
    background-image: linear-gradient(to bottom right, #2c2c2c, #3e3e3e, #181818);
    color: #fbefe1;
}

.online-white {
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
    color: rgb(44, 44, 44);
}

.name-score {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.online-score-white, .online-score-black {
    display: inline-block;
    text-align: center;
    padding: 8px 4px 8px 4px;
    border-radius: 5px;
}

.online-score-white {
    background-image: linear-gradient(to bottom right, #2c2c2c, #3e3e3e, #181818);
    color: #fbefe1;
}

.online-score-black {
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
    color: rgb(44, 44, 44);
}

.online-name {
    padding-top: 8px;
}

#white-clock, #black-clock {
    font-size: 50px;
}

.chessboard-container {
    margin: 10px 0px 10px 10px;
    padding: 12px 12px 12px 12px;
    outline-style: solid;
    outline-color: #fbefe1;
    outline-width: 2px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-image: linear-gradient(to bottom right, #2c2c2c, #3e3e3e, #181818);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90vmin;
    height: 90vmin;
    aspect-ratio: 1;
    position: relative;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 95%;
    height: 95%;
    outline-style: solid;
    outline-color: #fbefe1;
    outline-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

.chessboard-square {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    aspect-ratio: 1;
    padding: 0px 0px 0px 0px;
}

.sign {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: #fbefe1;
}

.first-file-sign {
    top: 5px;
}

.second-file-sign {
    bottom: 5px;
}

.first-rank-sign {
    left: 10px;
}

.second-rank-sign {
    right: 10px;
}

#first-rank-sign-7, #second-rank-sign-7 {
    top: 8%;
}

#first-rank-sign-6, #second-rank-sign-6 {
    top: 20%;
}

#first-rank-sign-5, #second-rank-sign-5 {
    top: 31%;
}

#first-rank-sign-4, #second-rank-sign-4 {
    top: 43%;
}

#first-rank-sign-3, #second-rank-sign-3 {
    top: 55%;
}

#first-rank-sign-2, #second-rank-sign-2 {
    top: 66%;
}

#first-rank-sign-1, #second-rank-sign-1 {
    top: 77%;
}

#first-rank-sign-0, #second-rank-sign-0 {
    top: 89%;
}

#first-file-sign-0, #second-file-sign-0 {
    left: 9%;
}

#first-file-sign-1, #second-file-sign-1 {
    left: 20.5%;
}

#first-file-sign-2, #second-file-sign-2 {
    left: 32%;
}

#first-file-sign-3, #second-file-sign-3 {
    left: 43.5%;
}

#first-file-sign-4, #second-file-sign-4 {
    left: 55%;
}

#first-file-sign-5, #second-file-sign-5 {
    left: 67%;
}

#first-file-sign-6, #second-file-sign-6 {
    left: 78%;
}

#first-file-sign-7, #second-file-sign-7 {
    left: 90%;
}

.chessboard-square:hover, .dragover-square {
    box-shadow: inset 2px 2px 5px 1px #0e276b,
                inset -2px -2px 5px 1px #399cff;
}

.menu-button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #3887d7, #4a6991, #8f4242);
}

.menu-button:active {
    background-image: linear-gradient(to bottom right, #061ea8, #4a6991, #6f0b0b);
}

.light-square {
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
}

.dark-square {
    background-image: linear-gradient(to bottom right, #3d81d8, #2861ad, #0d4277);
}

.highlight-square {
    background-image: linear-gradient(to bottom right, #5d0000 , #a60000, #e10000) !important;
}

.winner-square {
    background-image: linear-gradient(to bottom right, #55ff06, #18a000, #055f00);
}

.loser-square {
    background-image: linear-gradient(to bottom right, #e10000, #a60000, #5d0000);
}

.draw-square {
    background-image: linear-gradient(to bottom right, #a9a9a9, #777777, #3c3c3c) !important;
}

.last-move-highlight {
    background-image: linear-gradient(to bottom right, #4be4ff, #21b7f7, #0377a9);
    
}

.chess-piece-image {
    width: 95%;
    cursor: pointer;
}

.online-panel-index {
    color: #3d81d8;
}

.initial-notation-message {
    padding-top: 2px;
    margin: 0px 0px 0px 0px;
    padding-left: 18px;
}

.chess-notation-text, .chess-notation-index {
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    margin: 0px 5px 10px 5px;
    display: inline-block;

    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
}

.chess-notation-index {
    background-image: linear-gradient(to bottom right, #3d81d8, #2861ad, #0d4277);
    border-radius: 20px;
    padding: 4px 7px 4px 7px;
    color: #fbefe1;
}

.chess-notation-container, .game-log {
    padding: 15px 15px 15px 15px;
    width: 246px;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #000000 #272727;
    scrollbar-width: thin;
}

.notation-container-border, .game-log-container {
    padding: 0px 0px 30px 0px;
    min-height: 100px;
    width: 276px;
    margin: 7px 7px 7px 7px;
    overflow: hidden;
    border: #fbefe1;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    flex: 1;
    background-image: linear-gradient(to bottom right, #2c2c2c, #3e3e3e, #181818);
}

.notation-container-border {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.promotion-settings {
    width: 262px;
    background-image: linear-gradient(to bottom right, #3d81d8, #2861ad, #0d4277);
    color: #fbefe1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 7px 7px 7px;
    padding: 0px 7px 1px 7px;
    border: #fbefe1;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    display: flex;
    gap: 11px;
    justify-content: center;
}

.promotion-radio {
    display: none;
  }
  
  .promotion-radio:checked + .promotion-piece-icon {
    opacity: 1;
  }

.promotion-piece-icon {
    height: 35px;
    filter: contrast(1.3);
}

.promotion-choice {
    cursor: pointer;
    opacity: 0.5;
}

.game-log-container {
    padding: 0px 0px 0px 0px;
    flex: 0 1 auto;
    height: 110px;
    min-height: 110px;
}

.game-log {
    padding: 0px 0px 0px 0px;
    width: 276px;
    height: 110px;
    min-height: 110px;
    overflow-y: auto;
    scrollbar-color: #000000 #272727;
    scrollbar-width: thin;
}

.game-log-header {
    padding: 3px 0px 1px 10px;
}

.game-log-line {
    font-size: 14px;
    margin: 5px 5px 5px 5px;
}

.icon {
    width: 42px;
}

.settings-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 17vh;
    padding-left: 8.5vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .settings-modal-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    background-image: linear-gradient(to bottom right, #2c2c2c, #3e3e3e, #181818);
    padding: 20px;
    border: 2px solid #f7e9d8;
    border-radius: 4px;
    width: 500px;
    height: 180px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-color: #000000 #272727;
    scrollbar-width: thin;
  }

  .settings-modal-content p {
    margin: 0px 10px 20px 0px;
    color: #fbefe1;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #fbefe1;
    text-decoration: none;
    cursor: pointer;
  }

  .select-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.select-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #fbefe1;
}

.custom-select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    appearance: none;
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
    border: 1px solid #fbefe1;
    padding: 10px;
    color: rgb(44, 44, 44);
    border-radius: 4px;
    width: 130px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

option { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #f7e9d8;
    color: #373737;
}

.accept-draw-button, .decline-draw-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: 2px solid #f7e9d8;
    color: #f7e9d8;
}

.accept-draw-button {
    background-image: linear-gradient(to bottom right, #028900, #1e9c08, #033e00);
}

.decline-draw-button {
    background-image: linear-gradient(to bottom right, #9f0000, #a60000, #5d0000);
}
