html, body {
    background-image: linear-gradient(to bottom right, #3887d7, #4a6991, #8f4242);
    margin: 0;
    height: 100%;
    padding: 7px 10px 10px 7px;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 90vmin;
    width: 300px;
    outline-style: solid;
    outline-color: aliceblue;
    outline-width: 2px;
    padding: 12px 12px 12px 12px;
    margin: 10px 0px 10px 0px;
    background-image: linear-gradient(to bottom right, #212427, #1d4b86, #131c57);
    border-bottom-right-radius: 10px;
    z-index: 1;
}

.menu-button ,.name-input {
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 25px;
    font-weight: 550;
    border-style: solid;
    border-color: aliceblue;
    margin: 7px 7px 7px 7px;
    background-image: linear-gradient(to bottom right, #0686ff, #1d4b86, #303a7a);
    border-radius: 10px;
}

.options-button {
    margin: 7px 7px 7px 7px;
    padding: 3px 10px 3px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 30px;
    font-weight: 550;
    border: none;
    background-image: linear-gradient(to bottom right, #51cd2f, #1c6b20, #0bba14);
    border-radius: 30px;
}

.options-button:hover {
    background-image: linear-gradient(to bottom right, #55f12a, #239029, #0ccf15);
    cursor: pointer;
}

.options-button:active {
    background-image: linear-gradient(to bottom right, #47e31c, #18951e, #0aee15);
}

.options {
    display: flex;
    flex-direction: column;
    height: 30vmin;
    outline-style: solid;
    outline-color: aliceblue;
    outline-width: 2px;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
    background-image: linear-gradient(to bottom right, #212427, #1d4b86, #131c57);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.chess-notation-container {
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #61b0fb #131c57;
}

.online-match-container {
    padding: 15px 15px 15px 15px;
    background-image: linear-gradient(to bottom right, #036ccf, #1d4b86, #303a7a);
    margin: 7px 7px 7px 7px;
    border: aliceblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    flex: 1;
}

@media (max-height: 500px) {
    .chess-notation-container {
        height: 100px;
    }
}

.chessboard-container {
    margin: 10px 0px 10px 10px;
    padding: 12px 12px 12px 12px;
    outline-style: solid;
    outline-color: aliceblue;
    outline-width: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: linear-gradient(to bottom right, #212427, #1d4b86, #131c57);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vmin;
    height: 90vmin;
    aspect-ratio: 1;
    position: relative;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 95%;
    height: 95%;
    outline-style: solid;
    outline-color: aliceblue;
    outline-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

.chessboard-square {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    aspect-ratio: 1;
    padding: 0px 0px 0px 0px;
}

.sign {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: aliceblue;
}

.first-file-sign {
    top: 5px;
}

.second-file-sign {
    bottom: 5px;
}

.first-rank-sign {
    left: 10px;
}

.second-rank-sign {
    right: 10px;
}

#first-rank-sign-7, #second-rank-sign-7 {
    top: 8%;
}

#first-rank-sign-6, #second-rank-sign-6 {
    top: 20%;
}

#first-rank-sign-5, #second-rank-sign-5 {
    top: 31%;
}

#first-rank-sign-4, #second-rank-sign-4 {
    top: 43%;
}

#first-rank-sign-3, #second-rank-sign-3 {
    top: 55%;
}

#first-rank-sign-2, #second-rank-sign-2 {
    top: 66%;
}

#first-rank-sign-1, #second-rank-sign-1 {
    top: 77%;
}

#first-rank-sign-0, #second-rank-sign-0 {
    top: 89%;
}

#first-file-sign-0, #second-file-sign-0 {
    left: 9%;
}

#first-file-sign-1, #second-file-sign-1 {
    left: 20.5%;
}

#first-file-sign-2, #second-file-sign-2 {
    left: 32%;
}

#first-file-sign-3, #second-file-sign-3 {
    left: 43.5%;
}

#first-file-sign-4, #second-file-sign-4 {
    left: 55%;
}

#first-file-sign-5, #second-file-sign-5 {
    left: 67%;
}

#first-file-sign-6, #second-file-sign-6 {
    left: 78%;
}

#first-file-sign-7, #second-file-sign-7 {
    left: 90%;
}

.chessboard-square:hover, .dragover-square {
    box-shadow: inset 2px 2px 5px 1px #0e276b,
                inset -2px -2px 5px 1px #399cff;
}

.menu-button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #3887d7, #4a6991, #8f4242);
}

.menu-button:active {
    background-image: linear-gradient(to bottom right, #061ea8, #4a6991, #6f0b0b);
}

.light-square {
    background-image: linear-gradient(to bottom right, #FDFCFB, #eccda8);
}

.dark-square {
    background-image: linear-gradient(to bottom right, #0686ff, #1d4b86, #303a7a);
}

.highlight-square {
    background-image: linear-gradient(to bottom right, #5d0000 , #a60000, #e10000) !important;
}

.winner-square {
    background-image: linear-gradient(to bottom right, #55ff06, #18a000, #055f00);
}

.loser-square {
    background-image: linear-gradient(to bottom right, #e10000, #a60000, #5d0000);
}

.draw-square {
    background-image: linear-gradient(to bottom right, #a9a9a9, #777777, #3c3c3c) !important;
}

.last-move-highlight {
    background-image: linear-gradient(to bottom right, #4be4ff, #21b7f7, #0377a9);
    
}

.chess-piece-image {
    width: 95%;
    cursor: pointer;
}

.chess-notation-text, .chess-notation-index {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    margin: 0px 5px 10px 5px;
    display: inline-block;

    background-color: #131c57;
    background-image: linear-gradient(to bottom right, #17299c, #0d125a);
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
}

.chess-notation-index {
    background-image: linear-gradient(to bottom right, #01168f, #600202);
    border-radius: 20px;
    padding: 4px 7px 4px 7px;
}

.notation-container-border {
    padding: 15px 15px 15px 15px;
    margin: 7px 7px 7px 7px;
    overflow: hidden;
    border: aliceblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    flex: 1;
    background-image: linear-gradient(to bottom right, #036ccf, #1d4b86, #303a7a);
}